{
  "account": "",
  "client_id": "YOUR_GOOGLE_CLIENT_ID",
  "client_secret": "YOUR_GOOGLE_CLIENT_SECRET",
  "quota_project_id": "YOUR_PROJECT_ID",
  "refresh_token": "YOUR_REFRESH_TOKEN",
  "type": "authorized_user",
  "universe_domain": "googleapis.com"
}